@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

$visual-grid: false;
$visual-grid-color: cyan;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: 700px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
